GPG_PASSPHRASE_FILE=/root/vzdump-passphrase.txt
B2_BUCKET=CHANGE_ME_TO_AN_EXISTING_BUCKET_NAME
B2_ACCOUNT_ID=CHANGE_ME_TO_YOUR_ACCOUNT_ID
B2_APPLICATION_KEY=CHANGEME_TO_YOUR_APPLICATION_KEY

# B2 allowes up to 5*10^9 Byte/file
B2_SPLITSIZE_BYTE=2000000000
B2_PATH=`hostname`
NUM_PARALLEL_UPLOADS=10
NUM_PARALLEL_GPG=6

GPG_BINARY=/usr/bin/gpg
B2_BINARY=/usr/local/bin/b2
JQ_BINARY=/usr/local/bin/jq
